extends layout
block content
    h1= title
    if(toShow == null)
        h2 No instance to detail for delete 
    else
        - let Car_color = toShow.Car_color
        - let Car_model = toShow.Car_model
        - let Car_Title = toShow.Car_Title
        - let Car_mileage = toShow.Car_mileage
        - let Car_cost = toShow.Car_cost
        div
            div.row(id="carAttr")
                div(class="carAttr mr-3") car color is:
                div #{Car_color}
            div.row
                div(class="carAttr mr-3") car Model is:
                div #{Car_model}
            div.row
                div(class="carAttr mr-3") car Title is:
                div #{Car_Title}
            div.row
                div(class="carAttr mr-3") car Mileage is:
                div #{Car_mileage}
            div.row
                div(class="carAttr mr-3") car cost is:
                div #{Car_cost}